<div class="b round-3 columnHeadFeture expanded-row" ng-class="{ active: $ctrl.show}">
    <div class="m-8">
        <div class="d-flex align-item-center pt-8 pb-8 ml-12">
            <span class="material-symbols-outlined fs-15">link</span>
            <span class="ml-8">Copy Field URL</span>
        </div>
        <div class="divider"></div>
        <div class="d-flex align-item-center pt-8 pb-8 ml-12">
            <span class="material-symbols-outlined fs-15">sort</span>
            <span class="ml-8">Sort A -> Z</span>
        </div>
        <div class="d-flex align-item-center pt-8 pb-8 ml-12">                 
            <span class="material-symbols-outlined fs-15">sort</span>
            <span class="ml-8">Sort Z -> A</span>
        </div>
        <div class="divider"></div>
        <div class="d-flex align-item-center pt-8 pb-8 ml-12">
            <span class="material-symbols-outlined fs-15">filter_list</span>
            <span class="ml-8">Filter by this field</span>
        </div>
        <div class="d-flex align-item-center pt-8 pb-8 ml-12">
            <span class="material-symbols-outlined fs-15">subtitles</span>
            <span class="ml-8">Group by this field</span>
        </div>
        <div class="divider"></div>
        <div class="d-flex align-item-center pt-8 pb-8 ml-12">
            <span class="material-symbols-outlined fs-15">visibility_off</span>
            <span class="ml-8">Hide Field</span>
        </div>
</div>