<div class="absolute bg-white rounded shadow-lg py1 px2" style="top: 100%; left: 0; z-index: 10;">
    <div tabindex="0" role="button" class="pointer py-half">
        <div class="baymax white flex-none hide-print flex width-full"
            style="order: -1; width: 282px; z-index: 6; opacity: 1; border-top: 1px solid transparent; box-shadow: white -280px 0px 0px 0px; transform: translate3d(0%, 0px, 0px);">
            <div aria-label="View sidebar"
                class="white events relative flex flex-column height-full overflowy-auto width-full light-scrollbar"
                id="viewSidebarContent">
                <div class="flex flex-column flex-auto width-full pt1 overflowy-auto" style="min-height: 144px;">
                    <div
                        class="viewSidebarSearchContainer relative flex items-center border-darken2 flex-none mx2 border-bottom">
                        <label class="flex flex-auto"><span class="visually-hidden">Find a
                                view</span>
                            <div class="flex items-center justify-center p1 quiet" style="padding-left: 10px;"><svg
                                    width="16" height="16" viewBox="0 0 16 16" class="icon"
                                    style="shape-rendering: geometricprecision;">
                                    <path fill-rule="nonzero" fill="currentColor"
                                        d="M7.25 1.5C4.08028 1.5 1.5 4.08028 1.5 7.25C1.5 10.4197 4.08028 13 7.25 13C8.65529 13 9.94315 12.4911 10.9432 11.6503L13.6465 14.3534C13.7402 14.4471 13.8674 14.4998 14 14.4998C14.1326 14.4998 14.2598 14.4471 14.3535 14.3534C14.4473 14.2596 14.4999 14.1325 14.4999 13.9999C14.4999 13.8673 14.4473 13.7401 14.3535 13.6464L11.6504 10.9431C12.4912 9.94305 13 8.65523 13 7.25C13 4.08028 10.4197 1.5 7.25 1.5ZM7.25 2.5C9.87928 2.5 12 4.62072 12 7.25C12 8.56227 11.4715 9.74761 10.6154 10.6061C10.6132 10.607 10.611 10.6079 10.6089 10.6088C10.608 10.611 10.6071 10.6132 10.6062 10.6154C9.74772 11.4715 8.5623 12 7.25 12C4.62072 12 2.5 9.87928 2.5 7.25C2.5 4.62072 4.62072 2.5 7.25 2.5Z">
                                    </path>
                                </svg></div><input
                                class="background-transparent flex-auto flex p0 pr1 unround m0 relative"
                                placeholder="Find a view" role="combobox" aria-autocomplete="list" aria-expanded="true"
                                aria-controls="id_c7c765ad61e42f55e16c4d99311d53bb-listbox" value=""
                                style="border: 0px;">
                        </label>
                    </div>
                    <div class="pb1-and-half px1-and-half pt1 light-scrollbar flex-auto overflowy-auto relative"
                        data-tutorial-selector-id="viewList">
                        <ul data-rbd-droppable-id="flatList" data-rbd-droppable-context-id="64" role="listbox"
                            id="id_c7c765ad61e42f55e16c4d99311d53bb-listbox" class="css-pw5o1p"
                            data-interaction-mode="pointer">
                            <li role="option" aria-selected="true"
                                class="sidebarbg rounded pointer flex relative justify-center flex-column pt1 pb1 px1"
                                id="id_c7c765ad61e42f55e16c4d99311d53bb-viwNSnIMFIWv6sohV"
                                data-rbd-draggable-context-id="64" data-rbd-draggable-id="viwNSnIMFIWv6sohV"
                                data-is-active-descendant="false">
                                <div class="flex items-center">
                                    <div class="flex-auto flex items-center"><span
                                            class="flex-inline flex-none items-center mr1"><svg width="16" height="16"
                                                viewBox="0 0 16 16" class="icon"
                                                style="shape-rendering: geometricprecision;">
                                                <path fill-rule="evenodd" fill="rgb(11, 118, 183)"
                                                    d="M2.5 2C1.67157 2 1 2.67157 1 3.5V12.5C1 13.3284 1.67157 14 2.5 14H13.5C14.3284 14 15 13.3284 15 12.5V3.5C15 2.67157 14.3284 2 13.5 2H2.5ZM2 3.5C2 3.22386 2.22386 3 2.5 3H13.5C13.7761 3 14 3.22386 14 3.5V5H2V3.5ZM8.5 6H14V9H8.5V6ZM7.5 9V6H2V9H7.5ZM2 10V12.5C2 12.7761 2.22386 13 2.5 13H7.5V10H2ZM8.5 10H14V12.5C14 12.7761 13.7761 13 13.5 13H8.5V10Z">
                                                </path>
                                            </svg></span><span
                                            class="text-size-default text-color-default line-height-3 font-family-default font-weight-strong truncate">All
                                            stories</span></div>
                                    <div class="flex-none flex items-center justify-center text-color-quiet"
                                        style="padding-right: 4px;"><svg width="14" height="14" viewBox="0 0 16 16"
                                            class="icon" style="shape-rendering: geometricprecision;">
                                            <path fill-rule="nonzero" fill="currentColor"
                                                d="M13.5 4C13.3674 4.00002 13.2402 4.05271 13.1465 4.14648L6.49999 10.793L3.3535 7.64648C3.25974 7.55274 3.13258 7.50008 2.99999 7.50008C2.8674 7.50008 2.74023 7.55274 2.64647 7.64648C2.55272 7.74025 2.50006 7.86741 2.50006 8C2.50006 8.13259 2.55272 8.25975 2.64647 8.35352L6.14647 11.8535C6.24024 11.9472 6.3674 11.9999 6.49999 11.9999C6.63257 11.9999 6.75973 11.9472 6.8535 11.8535L13.8535 4.85352C13.9472 4.75975 13.9999 4.63259 13.9999 4.5C13.9999 4.36741 13.9472 4.24025 13.8535 4.14648C13.7597 4.05271 13.6326 4.00002 13.5 4Z">
                                            </path>
                                        </svg></div>
                                </div><span
                                    class="text-size-small text-color-quieter line-height-4 font-family-default font-weight-default truncate"
                                    style="margin-left: 24px;"></span>
                            </li>
                            <li role="option" aria-selected="false"
                                class="rounded pointer flex relative justify-center flex-column pt1 pb1 px1"
                                id="id_c7c765ad61e42f55e16c4d99311d53bb-viw7IKzyoj5Mor6x9"
                                data-rbd-draggable-context-id="64" data-rbd-draggable-id="viw7IKzyoj5Mor6x9"
                                data-is-active-descendant="false">
                                <div class="flex items-center">
                                    <div class="flex-auto flex items-center"><span
                                            class="flex-inline flex-none items-center mr1"><svg width="16" height="16"
                                                viewBox="0 0 16 16" class="icon"
                                                style="shape-rendering: geometricprecision;">
                                                <path fill-rule="evenodd" fill="rgb(11, 118, 183)"
                                                    d="M2.5 2C1.67157 2 1 2.67157 1 3.5V12.5C1 13.3284 1.67157 14 2.5 14H13.5C14.3284 14 15 13.3284 15 12.5V3.5C15 2.67157 14.3284 2 13.5 2H2.5ZM2 3.5C2 3.22386 2.22386 3 2.5 3H13.5C13.7761 3 14 3.22386 14 3.5V5H2V3.5ZM8.5 6H14V9H8.5V6ZM7.5 9V6H2V9H7.5ZM2 10V12.5C2 12.7761 2.22386 13 2.5 13H7.5V10H2ZM8.5 10H14V12.5C14 12.7761 13.7761 13 13.5 13H8.5V10Z">
                                                </path>
                                            </svg></span><span
                                            class="text-size-default text-color-default line-height-3 font-family-default font-weight-strong truncate">Open
                                            stories</span></div>
                                </div><span
                                    class="text-size-small text-color-quieter line-height-4 font-family-default font-weight-default truncate"
                                    style="margin-left: 24px;"></span>
                            </li>
                            <li role="option" aria-selected="false"
                                class="rounded pointer flex relative justify-center flex-column pt1 pb1 px1"
                                id="id_c7c765ad61e42f55e16c4d99311d53bb-viw1ADq7nzgbiSo31"
                                data-rbd-draggable-context-id="64" data-rbd-draggable-id="viw1ADq7nzgbiSo31"
                                data-is-active-descendant="false">
                                <div class="flex items-center">
                                    <div class="flex-auto flex items-center"><span
                                            class="flex-inline flex-none items-center mr1"><svg width="16" height="16"
                                                viewBox="0 0 16 16" class="icon"
                                                style="shape-rendering: geometricprecision;">
                                                <path fill-rule="evenodd" fill="rgb(11, 118, 183)"
                                                    d="M2.5 2C1.67157 2 1 2.67157 1 3.5V12.5C1 13.3284 1.67157 14 2.5 14H13.5C14.3284 14 15 13.3284 15 12.5V3.5C15 2.67157 14.3284 2 13.5 2H2.5ZM2 3.5C2 3.22386 2.22386 3 2.5 3H13.5C13.7761 3 14 3.22386 14 3.5V5H2V3.5ZM8.5 6H14V9H8.5V6ZM7.5 9V6H2V9H7.5ZM2 10V12.5C2 12.7761 2.22386 13 2.5 13H7.5V10H2ZM8.5 10H14V12.5C14 12.7761 13.7761 13 13.5 13H8.5V10Z">
                                                </path>
                                            </svg></span><span
                                            class="text-size-default text-color-default line-height-3 font-family-default font-weight-strong truncate">Ferrari</span>
                                    </div>
                                </div>
                                <span
                                    class="text-size-small text-color-quieter line-height-4 font-family-default font-weight-default truncate"
                                    style="margin-left: 24px;"></span>
                            </li>
                            <li role="option" aria-selected="false"
                                class="rounded pointer flex relative justify-center flex-column pt1 pb1 px1"
                                id="id_c7c765ad61e42f55e16c4d99311d53bb-viwRm53l18NmQaexe"
                                data-rbd-draggable-context-id="64" data-rbd-draggable-id="viwRm53l18NmQaexe"
                                data-is-active-descendant="false">
                                <div class="flex items-center">
                                    <div class="flex-auto flex items-center"><span
                                            class="flex-inline flex-none items-center mr1"><svg width="16" height="16"
                                                viewBox="0 0 16 16" class="icon"
                                                style="shape-rendering: geometricprecision;">
                                                <path fill-rule="evenodd" fill="rgb(11, 118, 183)"
                                                    d="M2.5 2C1.67157 2 1 2.67157 1 3.5V12.5C1 13.3284 1.67157 14 2.5 14H13.5C14.3284 14 15 13.3284 15 12.5V3.5C15 2.67157 14.3284 2 13.5 2H2.5ZM2 3.5C2 3.22386 2.22386 3 2.5 3H13.5C13.7761 3 14 3.22386 14 3.5V5H2V3.5ZM8.5 6H14V9H8.5V6ZM7.5 9V6H2V9H7.5ZM2 10V12.5C2 12.7761 2.22386 13 2.5 13H7.5V10H2ZM8.5 10H14V12.5C14 12.7761 13.7761 13 13.5 13H8.5V10Z">
                                                </path>
                                            </svg></span><span
                                            class="text-size-default text-color-default line-height-3 font-family-default font-weight-strong truncate">Gremlin</span>
                                    </div>
                                </div><span
                                    class="text-size-small text-color-quieter line-height-4 font-family-default font-weight-default truncate"
                                    style="margin-left: 24px;"></span>
                            </li>
                            <li role="option" aria-selected="false"
                                class="rounded pointer flex relative justify-center flex-column pt1 pb1 px1"
                                id="id_c7c765ad61e42f55e16c4d99311d53bb-viw8LEL0iL88Fp9Tq"
                                data-rbd-draggable-context-id="64" data-rbd-draggable-id="viw8LEL0iL88Fp9Tq"
                                data-is-active-descendant="false">
                                <div class="flex items-center">
                                    <div class="flex-auto flex items-center"><span
                                            class="flex-inline flex-none items-center mr1"><svg width="16" height="16"
                                                viewBox="0 0 16 16" class="icon"
                                                style="shape-rendering: geometricprecision;">
                                                <path fill-rule="evenodd" fill="rgb(11, 118, 183)"
                                                    d="M2.5 2C1.67157 2 1 2.67157 1 3.5V12.5C1 13.3284 1.67157 14 2.5 14H13.5C14.3284 14 15 13.3284 15 12.5V3.5C15 2.67157 14.3284 2 13.5 2H2.5ZM2 3.5C2 3.22386 2.22386 3 2.5 3H13.5C13.7761 3 14 3.22386 14 3.5V5H2V3.5ZM8.5 6H14V9H8.5V6ZM7.5 9V6H2V9H7.5ZM2 10V12.5C2 12.7761 2.22386 13 2.5 13H7.5V10H2ZM8.5 10H14V12.5C14 12.7761 13.7761 13 13.5 13H8.5V10Z">
                                                </path>
                                            </svg></span><span
                                            class="text-size-default text-color-default line-height-3 font-family-default font-weight-strong truncate">Content
                                            to review</span></div>
                                </div><span
                                    class="text-size-small text-color-quieter line-height-4 font-family-default font-weight-default truncate"
                                    style="margin-left: 24px;"></span>
                            </li>
                            <li role="option" aria-selected="false"
                                class="rounded pointer flex relative justify-center flex-column pt1 pb1 px1"
                                id="id_c7c765ad61e42f55e16c4d99311d53bb-viweLtsUl6tz3g4zp"
                                data-rbd-draggable-context-id="64" data-rbd-draggable-id="viweLtsUl6tz3g4zp"
                                data-is-active-descendant="false">
                                <div class="flex items-center">
                                    <div class="flex-auto flex items-center"><span
                                            class="flex-inline flex-none items-center mr1"><svg width="16" height="16"
                                                viewBox="0 0 16 16" class="icon"
                                                style="shape-rendering: geometricprecision;">
                                                <path fill-rule="nonzero" fill="rgb(171, 10, 131)"
                                                    d="M4.5 6.5C4.5 6.22386 4.72386 6 5 6H7.5C7.77614 6 8 6.22386 8 6.5C8 6.77614 7.77614 7 7.5 7H5C4.72386 7 4.5 6.77614 4.5 6.5Z M5.5 8C4.67157 8 4 8.67157 4 9.5C4 10.3284 4.67157 11 5.5 11H10.5C11.3284 11 12 10.3284 12 9.5C12 8.67157 11.3284 8 10.5 8H5.5ZM5 9.5C5 9.22386 5.22386 9 5.5 9H10.5C10.7761 9 11 9.22386 11 9.5C11 9.77614 10.7761 10 10.5 10H5.5C5.22386 10 5 9.77614 5 9.5Z M1 3.5C1 2.67157 1.67157 2 2.5 2H13.5C14.3284 2 15 2.67157 15 3.5V12.5C15 13.3284 14.3284 14 13.5 14H2.5C1.67157 14 1 13.3284 1 12.5V3.5ZM2.5 3C2.22386 3 2 3.22386 2 3.5V12.5C2 12.7761 2.22386 13 2.5 13H13.5C13.7761 13 14 12.7761 14 12.5V3.5C14 3.22386 13.7761 3 13.5 3H2.5Z">
                                                </path>
                                            </svg></span><span
                                            class="text-size-default text-color-default line-height-3 font-family-default font-weight-strong truncate">Add
                                            story</span></div>
                                </div><span
                                    class="text-size-small text-color-quieter line-height-4 font-family-default font-weight-default truncate"
                                    style="margin-left: 24px;"></span>
                            </li>
                            <li role="option" aria-selected="false"
                                class="rounded pointer flex relative justify-center flex-column pt1 pb1 px1"
                                id="id_c7c765ad61e42f55e16c4d99311d53bb-viwhxFiIFxs1v9Rfd"
                                data-rbd-draggable-context-id="64" data-rbd-draggable-id="viwhxFiIFxs1v9Rfd"
                                data-is-active-descendant="false">
                                <div class="flex items-center">
                                    <div class="flex-auto flex items-center"><span
                                            class="flex-inline flex-none items-center mr1">
                                            <svg width="16" height="16" viewBox="0 0 16 16" class="icon"
                                                style="shape-rendering: geometricprecision;">
                                                <path fill-rule="evenodd" fill="rgb(11, 118, 183)"
                                                    d="M2.5 2C1.67157 2 1 2.67157 1 3.5V12.5C1 13.3284 1.67157 14 2.5 14H13.5C14.3284 14 15 13.3284 15 12.5V3.5C15 2.67157 14.3284 2 13.5 2H2.5ZM2 3.5C2 3.22386 2.22386 3 2.5 3H13.5C13.7761 3 14 3.22386 14 3.5V5H2V3.5ZM8.5 6H14V9H8.5V6ZM7.5 9V6H2V9H7.5ZM2 10V12.5C2 12.7761 2.22386 13 2.5 13H7.5V10H2ZM8.5 10H14V12.5C14 12.7761 13.7761 13 13.5 13H8.5V10Z">
                                                </path>
                                            </svg></span><span
                                            class="text-size-default text-color-default line-height-3 font-family-default font-weight-strong truncate">Complete
                                            stories</span></div>
                                </div><span
                                    class="text-size-small text-color-quieter line-height-4 font-family-default font-weight-default truncate"
                                    style="margin-left: 24px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-none relative sidebarResizeBar" data-visibility-state="pinExpanded"
                style="cursor: ew-resize;">
                <div class="relative sidebarResizeBarInner"></div>
            </div>
        </div>
    </div>
</div>